@import url('https://fonts.googleapis.com/css2?family=Lato&');

* {
  box-sizing: border-box;
  border: none;
  text-decoration: none;
}

body {
  font-family: 'Lato', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow-x: hidden;
  margin: 0;
}

.quiz-container {
  justify-content: space-between;
  background-color: #fff;
  border-radius: 0.7rem;
  box-shadow: 0 0 0.7rem 0.2rem #6464641a;
  width: 600px;
  height: 90vh;
  overflow: hidden;
  background-color: #86948F;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button{
  background-color: #bbe893;
  padding: 10px;
  border-radius: 0.7rem;
  box-shadow: 0 0 0.7rem 0.2rem #6464641a;
}

.qst-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  padding: 2rem;
  background-color: #abbfb8;
  color: 0;
  border-radius: 0.7rem;
  box-shadow: 0 0 0.7rem 0.2rem #6464641a;
}