@import url("https://fonts.googleapis.com/css2?family=Lato&");
@import "https://fonts.googleapis.com/css2?family=Sriracha&display=swap";

* {
  box-sizing: border-box;
  border: none;
  text-decoration: none;
}

:root {
  --Background: #f5f5f5;
  --Header-Text: #4a90e2;
  --correct-answer: #28a745;
  --incorrect: #dc3545;
  --buttons-states: blue;
}

body {
  font-family: "Lato", sans-serif;
}

button {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  background: var(--Header-Text);
  border-radius: 5px;
  color: white;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}

button:hover {
  color: var(--Background);
  background-color: var(--buttons-states);
}

h1 {
  font-size: 2rem;
  font-family: Sriracha, cursive;
}

.header {
  display: flex;
  background-color: var(--Background);
  justify-content: space-between;
  align-items: center;
}

.logo {
  padding: 10px 1rem;
  color: var(--Header-Text);
}

/* General Styles for Hero Section */
.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--Background);
  gap: 2rem;
}


.hero-section .btn {
  padding: 10px 20px;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
}

.hero-section h4 {
  font-size: 1.1rem;
  color: var(--Header-Text);
  margin-top: 20px;
}

/* Responsive Styles */
@media (min-width: 768px) {

  .hero-section h1 {
    font-size: 2.5rem;
  }

  .hero-section h4 {
    font-size: 1.3rem;
  }
}


.quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  max-width: 600px;
  margin: 20px auto;
  gap: 20px;
}

.selection {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.qst-btn,
.category,
.select-df,
.type {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  font-size: 1rem;
  color: black;
}

select {
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

footer {
  text-align: center;
  background-color: var(--Header-Text);
  color: var(--Background);
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}